In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
},columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [84]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [20]:
df.index=[
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United Stated'
    
]

In [7]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United Stated      318.523  17348075       9525067  0.915   America

In [9]:
df.values

array([[35.467, 1785387, 9984670, 0.913, 'America'],
       [63.951, 2833687, 640679, 0.888, 'Europe'],
       [80.94, 3874437, 357114, 0.916, 'Europe'],
       [60.665, 2167744, 301336, 0.873, 'Europe'],
       [127.061, 4602367, 377930, 0.891, 'Asia'],
       [64.511, 2950039, 242495, 0.907, 'Europe'],
       [318.523, 17348075, 9525067, 0.915, 'America']], dtype=object)

In [10]:
df.size

35

In [11]:
df.shape

(7, 5)

In [19]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [22]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United Stated'],
      dtype='object')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United Stated
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [25]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [27]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [30]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
Name: count, dtype: int64

# __Indexing and Slicing__

In [31]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United Stated      318.523  17348075       9525067  0.915   America

__iloc and loc are used to access rows but to access column we use {dataframe_name}['{column_name}']__

In [41]:
df.iloc[1] #uses index to call the req. row

Population       63.951
GDP             2833687
Surface Area     640679
HDI               0.888
Continent        Europe
Name: France, dtype: object

In [42]:
df.loc['Japan'] #uses named index to call the req. row

Population      127.061
GDP             4602367
Surface Area     377930
HDI               0.891
Continent          Asia
Name: Japan, dtype: object

In [43]:
df['Population'] #calling population column

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United Stated     318.523
Name: Population, dtype: float64

In [52]:
df['Population'].to_frame()

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United Stated      318.523

In [44]:
df.iloc[::-1]

                Population       GDP  Surface Area    HDI Continent
United Stated      318.523  17348075       9525067  0.915   America
United Kingdom      64.511   2950039        242495  0.907    Europe
Japan              127.061   4602367        377930  0.891      Asia
Italy               60.665   2167744        301336  0.873    Europe
Germany             80.940   3874437        357114  0.916    Europe
France              63.951   2833687        640679  0.888    Europe
Canada              35.467   1785387       9984670  0.913   America

In [45]:
df.loc['Canada':'United kingdom']

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United Stated      318.523  17348075       9525067  0.915   America

In [55]:
df[['Population','HDI']]

                Population    HDI
Canada              35.467  0.913
France              63.951  0.888
Germany             80.940  0.916
Italy               60.665  0.873
Japan              127.061  0.891
United Kingdom      64.511  0.907
United Stated      318.523  0.915

In [6]:
df.loc['France':'United Kingdom',['Population','HDI']]

Empty DataFrame
Columns: [Population, HDI]
Index: []

In [61]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United Stated      318.523  17348075       9525067  0.915   America

In [62]:
df.iloc[[1,2,3]]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

In [71]:
df.iloc[1:5,0:4]

         Population      GDP  Surface Area    HDI
France       63.951  2833687        640679  0.888
Germany      80.940  3874437        357114  0.916
Italy        60.665  2167744        301336  0.873
Japan       127.061  4602367        377930  0.891

In [75]:
df.loc['France':'United Kingdom','Population':'Surface Area']

                Population      GDP  Surface Area
France              63.951  2833687        640679
Germany             80.940  3874437        357114
Italy               60.665  2167744        301336
Japan              127.061  4602367        377930
United Kingdom      64.511  2950039        242495

### __Conditional Selection (Boolean Arrays)__

In [3]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [6]:
df['Population']>70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United Stated      True
Name: Population, dtype: bool

In [9]:
df.loc[df['Population']>70]

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United Stated     318.523  17348075       9525067  0.915   America

In [12]:
df.loc[df['Population']>70,'Population']

Germany           80.940
Japan            127.061
United Stated    318.523
Name: Population, dtype: float64

## __Dropping off__
it drops or deletes the value of a row/rows or column/columns

In [24]:
df.drop('Canada')

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United Stated      318.523  17348075       9525067  0.915   America

In [26]:
df.drop(['Surface Area','Population'],axis=1)

                     GDP    HDI Continent
Canada           1785387  0.913   America
France           2833687  0.888    Europe
Germany          3874437  0.916    Europe
Italy            2167744  0.873    Europe
Japan            4602367  0.891      Asia
United Kingdom   2950039  0.907    Europe
United Stated   17348075  0.915   America

In [27]:
df.drop(columns=['Population','Continent'])

                     GDP  Surface Area    HDI
Canada           1785387       9984670  0.913
France           2833687        640679  0.888
Germany          3874437        357114  0.916
Italy            2167744        301336  0.873
Japan            4602367        377930  0.891
United Kingdom   2950039        242495  0.907
United Stated   17348075       9525067  0.915

## __Operation__

In [30]:
df[['Population','Surface Area']]/100

                Population  Surface Area
Canada             0.35467      99846.70
France             0.63951       6406.79
Germany            0.80940       3571.14
Italy              0.60665       3013.36
Japan              1.27061       3779.30
United Kingdom     0.64511       2424.95
United Stated      3.18523      95250.67

In [32]:
crisis = pd.Series([-1000000,-0.3], index=['GDP','HDI'])

In [33]:
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [35]:
df[['GDP','HDI']]

                     GDP    HDI
Canada           1785387  0.913
France           2833687  0.888
Germany          3874437  0.916
Italy            2167744  0.873
Japan            4602367  0.891
United Kingdom   2950039  0.907
United Stated   17348075  0.915

In [37]:
df[['GDP','HDI']]+crisis

                       GDP    HDI
Canada            785387.0  0.613
France           1833687.0  0.588
Germany          2874437.0  0.616
Italy            1167744.0  0.573
Japan            3602367.0  0.591
United Kingdom   1950039.0  0.607
United Stated   16348075.0  0.615

## __Modifying Dataframes__

### __Adding new columns__

In [38]:
langs=pd.Series(
    ['French','German','Italian'],
    index=['France','Germany','Italy'],
    name='Language'
)

In [39]:
df['Language'] = langs

In [40]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe   French
Germany             80.940   3874437        357114  0.916    Europe   German
Italy               60.665   2167744        301336  0.873    Europe  Italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe      NaN
United Stated      318.523  17348075       9525067  0.915   America      NaN

### __Replacing values per column__

In [41]:
df['Language']='English'

In [42]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America  English
France              63.951   2833687        640679  0.888    Europe  English
Germany             80.940   3874437        357114  0.916    Europe  English
Italy               60.665   2167744        301336  0.873    Europe  English
Japan              127.061   4602367        377930  0.891      Asia  English
United Kingdom      64.511   2950039        242495  0.907    Europe  English
United Stated      318.523  17348075       9525067  0.915   America  English

### __Renaming values per column__

In [44]:
df.rename(
    columns={
        'HDI': 'Human Development Index',
    }, index={
        'United Stated': 'US',
        'United Kingdom': 'UK',
    }
)

,Population,GDP,Surface Area,Human Development Index,Continent,Language
Canada,35.467,1785387,9984670,0.913,America,English
France,63.951,2833687,640679,0.888,Europe,English
Germany,80.940,3874437,357114,0.916,Europe,English
Italy,60.665,2167744,301336,0.873,Europe,English
Japan,127.061,4602367,377930,0.891,Asia,English
UK,64.511,2950039,242495,0.907,Europe,English
US,318.523,17348075,9525067,0.915,America,English

In [46]:
df #real dataframe doesnt change cause dataframe in pandas is immutable and also 99% of the items in pandas are also immutable

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America  English
France              63.951   2833687        640679  0.888    Europe  English
Germany             80.940   3874437        357114  0.916    Europe  English
Italy               60.665   2167744        301336  0.873    Europe  English
Japan              127.061   4602367        377930  0.891      Asia  English
United Kingdom      64.511   2950039        242495  0.907    Europe  English
United Stated      318.523  17348075       9525067  0.915   America  English