In [2]:
import numpy as np
import pandas as pd

In [83]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
},columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [84]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [6]:
df.index=[
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United Stated'
    
]

In [7]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United Stated      318.523  17348075       9525067  0.915   America

In [9]:
df.values

array([[35.467, 1785387, 9984670, 0.913, 'America'],
       [63.951, 2833687, 640679, 0.888, 'Europe'],
       [80.94, 3874437, 357114, 0.916, 'Europe'],
       [60.665, 2167744, 301336, 0.873, 'Europe'],
       [127.061, 4602367, 377930, 0.891, 'Asia'],
       [64.511, 2950039, 242495, 0.907, 'Europe'],
       [318.523, 17348075, 9525067, 0.915, 'America']], dtype=object)

In [10]:
df.size

35

In [11]:
df.shape

(7, 5)

In [19]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [22]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United Stated'],
      dtype='object')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United Stated
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [25]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [27]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [30]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
Name: count, dtype: int64

# __Indexing and Slicing__

In [31]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United Stated      318.523  17348075       9525067  0.915   America

__iloc and loc are used to access rows but to access column we use {dataframe_name}['{column_name}']__

In [41]:
df.iloc[1] #uses index to call the req. row

Population       63.951
GDP             2833687
Surface Area     640679
HDI               0.888
Continent        Europe
Name: France, dtype: object

In [42]:
df.loc['Japan'] #uses named index to call the req. row

Population      127.061
GDP             4602367
Surface Area     377930
HDI               0.891
Continent          Asia
Name: Japan, dtype: object

In [43]:
df['Population'] #calling population column

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United Stated     318.523
Name: Population, dtype: float64

In [52]:
df['Population'].to_frame()

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United Stated      318.523

In [44]:
df.iloc[::-1]

                Population       GDP  Surface Area    HDI Continent
United Stated      318.523  17348075       9525067  0.915   America
United Kingdom      64.511   2950039        242495  0.907    Europe
Japan              127.061   4602367        377930  0.891      Asia
Italy               60.665   2167744        301336  0.873    Europe
Germany             80.940   3874437        357114  0.916    Europe
France              63.951   2833687        640679  0.888    Europe
Canada              35.467   1785387       9984670  0.913   America

In [45]:
df.loc['Canada':'United kingdom']

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United Stated      318.523  17348075       9525067  0.915   America

In [55]:
df[['Population','HDI']]

                Population    HDI
Canada              35.467  0.913
France              63.951  0.888
Germany             80.940  0.916
Italy               60.665  0.873
Japan              127.061  0.891
United Kingdom      64.511  0.907
United Stated      318.523  0.915

In [60]:
df.loc['France':'United Kingdom',['Population','HDI']]

                Population    HDI
France              63.951  0.888
Germany             80.940  0.916
Italy               60.665  0.873
Japan              127.061  0.891
United Kingdom      64.511  0.907

In [61]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United Stated      318.523  17348075       9525067  0.915   America

In [62]:
df.iloc[[1,2,3]]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

In [71]:
df.iloc[1:5,0:4]

         Population      GDP  Surface Area    HDI
France       63.951  2833687        640679  0.888
Germany      80.940  3874437        357114  0.916
Italy        60.665  2167744        301336  0.873
Japan       127.061  4602367        377930  0.891

In [75]:
df.loc['France':'United Kingdom','Population':'Surface Area']

                Population      GDP  Surface Area
France              63.951  2833687        640679
Germany             80.940  3874437        357114
Italy               60.665  2167744        301336
Japan              127.061  4602367        377930
United Kingdom      64.511  2950039        242495