In [1]:
import pandas as pd
import numpy as np

## __Pandas Series__
We'll start analayzing _The Group of Seven_.

In [3]:
#in millions
g7_pop=pd.Series([38.93,68.035,84.432,58.9,124.631,67.081,334.233])

In [4]:
g7_pop

0     38.930
1     68.035
2     84.432
3     58.900
4    124.631
5     67.081
6    334.233
dtype: float64

In [5]:
g7_pop.name="G7 Population in millions"

In [6]:
g7_pop

0     38.930
1     68.035
2     84.432
3     58.900
4    124.631
5     67.081
6    334.233
Name: G7 Population in millions, dtype: float64

In [7]:
g7_pop.dtype

dtype('float64')

In [8]:
g7_pop.values

array([ 38.93 ,  68.035,  84.432,  58.9  , 124.631,  67.081, 334.233])

In [9]:
type(g7_pop.values)

numpy.ndarray

In [11]:
g7_pop[0]

38.93

In [12]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [15]:
g7_pop.index= [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [16]:
g7_pop

Canada             38.930
France             68.035
Germany            84.432
Italy              58.900
Japan             124.631
United Kingdom     67.081
United States     334.233
Name: G7 Population in millions, dtype: float64

In [19]:
g7_pop['Japan']

124.631

**_Other Methods of Creating series in pandas_**

In [26]:
g7_pop=pd.Series({
    'Canada': 38.930,
    'France': 68.035,
    'Germany': 84.432,
    'Italy': 58.900,
    'Japan': 124.631,
    'United Kingdom': 67.081,
    'United States': 334.233,
}, name='G7 population in millions')

In [27]:
g7_pop

Canada             38.930
France             68.035
Germany            84.432
Italy              58.900
Japan             124.631
United Kingdom     67.081
United States     334.233
Name: G7 population in millions, dtype: float64

In [29]:
g7_pop = pd.Series(
    [38.93,68.035,84.432,58.9,124.631,67.081,334.233],
    index=['Canada','France','Germany','Italy','Japan','United Kingdom','United States',],
    name='G7 population in millions')

In [30]:
g7_pop

Canada             38.930
France             68.035
Germany            84.432
Italy              58.900
Japan             124.631
United Kingdom     67.081
United States     334.233
Name: G7 population in millions, dtype: float64