### **Missing data**

In [2]:
import numpy as np
import pandas as pd

What is missing value? It depends on the origin of the data and the context it was generated on. If we have a column **Age** with an empty value or a string or 200 is an invalid value or can be considered as "missing data". These types of values are considered **Falsy** in PYTHON:

In [2]:
falsy_values=[0, False, None, '', [], {}]

All these values are considered "Falsy".

In [7]:
any(falsy_values) #any takes an iterable object such as list, dictionary etc 
#returns true if atleast one element of an iterable is true.

False

Numpy has a special "nullabe" value for numbers which is **np.nan**. NaN: "Not a Number"

In [8]:
np.nan

nan

Everything that **np.nan** touches becomes *NaN*

In [9]:
3+np.nan

nan

In [10]:
3*np.nan

nan

In [16]:
a=np.array([1,2,3,np.nan,4])

In [12]:
a.sum()

nan

In [13]:
a.mean()

nan

NaN doesnot work as None vlaues, If we use None instead of NaN it would have raised an exception

In [18]:
3+None

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

for a numeric array **None** value is replaced by **np.nan**

In [18]:
a=np.array([1,2,3,np.nan,None,4], dtype=float) #converting to float cause nan is a float value

In [8]:
a

array([ 1.,  2.,  3., nan, nan,  4.])

Numpy also supports an "infinity" type:

In [9]:
np.inf

inf

In [10]:
3+np.inf

inf

In [12]:
np.inf/3

inf

In [14]:
np.inf/np.inf #gives nan

nan

In [19]:
a=np.array([1,2,3,np.inf,np.nan,4])

In [16]:
a.sum()

nan

In [23]:
a=np.array([1,2,3,np.nan,np.inf,4],dtype=np.float16)

In [24]:
a.sum()

nan

## Checking for **nan** or **inf**

There are two functions: np.isnan and np.isinf that will perform the desired checks:

In [39]:
np.isnan(np.nan)

True

In [40]:
np.isinf(np.inf)

True

To check both we can use isfinite() method which returns false for both nan and inf

In [29]:
np.isfinite(np.nan), np.isfinite(np.inf)

(False, False)

We can also pass arrays  as arguments in isfinite, isnan, isinf methods which return boolean arrays as results:

In [30]:
np.isfinite(a)

array([ True,  True,  True, False, False,  True])

In [31]:
np.isnan(a)

array([False, False, False,  True, False, False])

In [32]:
np.isinf(a)

array([False, False, False, False,  True, False])

### Filtering them out

We'll use a combination of np.isnan + boolean arrays to filter the nan vlaues in the array

In [41]:
a=np.array([1,2,3,np.nan,4],dtype=np.float16)

In [42]:
a[~np.isnan(a)]

array([1., 2., 3., 4.], dtype=float16)

which is equivlent to:

In [43]:
a[np.isfinite(a)]

array([1., 2., 3., 4.], dtype=float16)

Now by filtering the nan vlaue out we can perform operations on the np array

In [44]:
a[np.isfinite(a)].sum()

10.0

In [45]:
a[~np.isnan(a)].mean()

2.5